<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Right-btm-to-Lef-top-line_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{859,476}}</string>
        <key>offset</key>
        <string>{-3.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,38},{859,476}}</string>
        <key>sourceSize</key>
        <string>{904,561}</string>
      </dict>
      <key>Lef-top-to-Right-btm-line_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,0},{851,469}}</string>
        <key>offset</key>
        <string>{1.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,25},{851,469}}</string>
        <key>sourceSize</key>
        <string>{884,529}</string>
      </dict>
      <key>Number_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,0},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{82,82}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>Number_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,0},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{82,82}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>Number_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1874,0},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{82,82}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>Number_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1956,0},{82,82}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>Number_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,82},{82,82}}</string>
        <key>offset</key>
        <string>{-0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>Btm-line-3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,82},{846,61}}</string>
        <key>offset</key>
        <string>{0,3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,7},{846,61}}</string>
        <key>sourceSize</key>
        <string>{846,82}</string>
      </dict>
      <key>Med-line-1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,164},{851,55}}</string>
        <key>offset</key>
        <string>{0,-2}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,38},{851,55}}</string>
        <key>sourceSize</key>
        <string>{851,127}</string>
      </dict>
      <key>Top-line-2.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,469},{846,55}}</string>
        <key>offset</key>
        <string>{0,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,21},{846,55}}</string>
        <key>sourceSize</key>
        <string>{846,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>betline.png</string>
      <key>size</key>
      <string>{2038,1015}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
