<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rectangle 20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,50}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{466,0},{85,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle 22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,50}</string>
                <key>spriteSourceSize</key>
                <string>{85,50}</string>
                <key>textureRect</key>
                <string>{{551,0},{85,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SGD$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,45}</string>
                <key>spriteSourceSize</key>
                <string>{112,45}</string>
                <key>textureRect</key>
                <string>{{230,0},{112,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alize.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,365}</string>
                <key>spriteSourceSize</key>
                <string>{472,365}</string>
                <key>textureRect</key>
                <string>{{361,450},{472,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{912,98}</string>
                <key>spriteSourceSize</key>
                <string>{912,98}</string>
                <key>textureRect</key>
                <string>{{0,170},{912,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,97}</string>
                <key>spriteSourceSize</key>
                <string>{183,97}</string>
                <key>textureRect</key>
                <string>{{1405,73},{183,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_play_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{212,80}</string>
                <key>textureRect</key>
                <string>{{322,73},{212,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>auto_play_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,80}</string>
                <key>spriteSourceSize</key>
                <string>{212,80}</string>
                <key>textureRect</key>
                <string>{{534,73},{212,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black-overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{434,0},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,75}</string>
                <key>spriteSourceSize</key>
                <string>{190,75}</string>
                <key>textureRect</key>
                <string>{{132,73},{190,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-cancel-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,111}</string>
                <key>spriteSourceSize</key>
                <string>{278,111}</string>
                <key>textureRect</key>
                <string>{{912,170},{278,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,111}</string>
                <key>spriteSourceSize</key>
                <string>{278,111}</string>
                <key>textureRect</key>
                <string>{{1190,170},{278,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-confirm-press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,111}</string>
                <key>spriteSourceSize</key>
                <string>{304,111}</string>
                <key>textureRect</key>
                <string>{{1468,170},{304,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,111}</string>
                <key>spriteSourceSize</key>
                <string>{303,111}</string>
                <key>textureRect</key>
                <string>{{0,281},{303,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,111}</string>
                <key>spriteSourceSize</key>
                <string>{279,111}</string>
                <key>textureRect</key>
                <string>{{303,281},{279,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn-turbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,138}</string>
                <key>spriteSourceSize</key>
                <string>{152,138}</string>
                <key>textureRect</key>
                <string>{{1480,281},{152,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_minus_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{0,73},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_plus_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{66,73},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{1786,0},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{1852,0},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{342,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{388,0},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl-avata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,248}</string>
                <key>spriteSourceSize</key>
                <string>{190,248}</string>
                <key>textureRect</key>
                <string>{{171,450},{190,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,209}</string>
                <key>spriteSourceSize</key>
                <string>{171,209}</string>
                <key>textureRect</key>
                <string>{{0,450},{171,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,72}</string>
                <key>spriteSourceSize</key>
                <string>{212,72}</string>
                <key>textureRect</key>
                <string>{{1574,0},{212,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1516,0},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1632,281},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,83}</string>
                <key>spriteSourceSize</key>
                <string>{298,83}</string>
                <key>textureRect</key>
                <string>{{746,73},{298,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money_bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{634,115}</string>
                <key>spriteSourceSize</key>
                <string>{634,115}</string>
                <key>textureRect</key>
                <string>{{582,281},{634,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,169}</string>
                <key>spriteSourceSize</key>
                <string>{168,169}</string>
                <key>textureRect</key>
                <string>{{1782,281},{168,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1216,281},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{1348,281},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,87}</string>
                <key>spriteSourceSize</key>
                <string>{181,87}</string>
                <key>textureRect</key>
                <string>{{1224,73},{181,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toggle_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,86}</string>
                <key>spriteSourceSize</key>
                <string>{180,86}</string>
                <key>textureRect</key>
                <string>{{1044,73},{180,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{880,57}</string>
                <key>spriteSourceSize</key>
                <string>{880,57}</string>
                <key>textureRect</key>
                <string>{{636,0},{880,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trend-blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trendgreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,40}</string>
                <key>spriteSourceSize</key>
                <string>{74,40}</string>
                <key>textureRect</key>
                <string>{{74,0},{74,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trendyelow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{148,0},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wellcom-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1026,665}</string>
                <key>spriteSourceSize</key>
                <string>{1026,665}</string>
                <key>textureRect</key>
                <string>{{833,450},{1026,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1950,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5953e172962c17f125d93bf20020ae12:ce2248754fd116941594eb2b5adf4cd8:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
