<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>jackpot.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{204,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,190}}</string>
        <key>sourceSize</key>
        <string>{204,190}</string>
      </dict>
      <key>freespin.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{200,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,176}}</string>
        <key>sourceSize</key>
        <string>{200,176}</string>
      </dict>
      <key>gear.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{198,181}}</string>
        <key>offset</key>
        <string>{1,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,1},{198,181}}</string>
        <key>sourceSize</key>
        <string>{200,182}</string>
      </dict>
      <key>a.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,176},{194,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,190}}</string>
        <key>sourceSize</key>
        <string>{194,190}</string>
      </dict>
      <key>j.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{194,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,190}}</string>
        <key>sourceSize</key>
        <string>{194,190}</string>
      </dict>
      <key>q.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{193,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,190}}</string>
        <key>sourceSize</key>
        <string>{193,190}</string>
      </dict>
      <key>k.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,181},{192,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,190}}</string>
        <key>sourceSize</key>
        <string>{192,190}</string>
      </dict>
      <key>guys.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,371},{182,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,190}}</string>
        <key>sourceSize</key>
        <string>{182,190}</string>
      </dict>
      <key>wild.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,366},{182,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,190}}</string>
        <key>sourceSize</key>
        <string>{182,190}</string>
      </dict>
      <key>girl.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{178,190}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,190}}</string>
        <key>sourceSize</key>
        <string>{178,190}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>symbol.png</string>
      <key>size</key>
      <string>{795,558}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
