<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{516,475},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autoplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,165}</string>
                <key>spriteSourceSize</key>
                <string>{529,165}</string>
                <key>textureRect</key>
                <string>{{404,138},{529,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autoplay_dis.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,165}</string>
                <key>spriteSourceSize</key>
                <string>{529,165}</string>
                <key>textureRect</key>
                <string>{{0,303},{529,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,58}</string>
                <key>spriteSourceSize</key>
                <string>{145,58}</string>
                <key>textureRect</key>
                <string>{{549,38},{145,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>certifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,48}</string>
                <key>textureRect</key>
                <string>{{0,38},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>connection_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{863,38},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,180}</string>
                <key>spriteSourceSize</key>
                <string>{529,180}</string>
                <key>textureRect</key>
                <string>{{172,647},{529,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{697,303},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{0,475},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{172,475},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ico-setting1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{0,138},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,63}</string>
                <key>spriteSourceSize</key>
                <string>{49,63}</string>
                <key>textureRect</key>
                <string>{{814,38},{49,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{694,38},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,61}</string>
                <key>spriteSourceSize</key>
                <string>{59,61}</string>
                <key>textureRect</key>
                <string>{{755,38},{59,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,2}</string>
                <key>spriteSourceSize</key>
                <string>{688,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{688,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,38}</string>
                <key>spriteSourceSize</key>
                <string>{220,38}</string>
                <key>textureRect</key>
                <string>{{688,0},{220,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{344,475},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,169}</string>
                <key>spriteSourceSize</key>
                <string>{168,169}</string>
                <key>textureRect</key>
                <string>{{529,303},{168,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{120,138},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{688,475},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundEffect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{0,647},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,54}</string>
                <key>spriteSourceSize</key>
                <string>{489,54}</string>
                <key>textureRect</key>
                <string>{{60,38},{489,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,158}</string>
                <key>spriteSourceSize</key>
                <string>{152,158}</string>
                <key>textureRect</key>
                <string>{{252,138},{152,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TopPlayer.png</string>
            <key>size</key>
            <string>{963,827}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef0bcd9244964c2cd3a8087bc52240e8:c90eeda1288d9e05019b0a53ab276955:c9e1561aeaa92a2a7607f16f72c0804d$</string>
            <key>textureFileName</key>
            <string>TopPlayer.png</string>
        </dict>
    </dict>
</plist>
