<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>cutrain_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{628,1762}}</string>
        <key>offset</key>
        <string>{-2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{628,1762}}</string>
        <key>sourceSize</key>
        <string>{632,1764}</string>
      </dict>
      <key>cutrain_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1762},{1080,401}}</string>
        <key>offset</key>
        <string>{0,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1080,401}}</string>
        <key>sourceSize</key>
        <string>{1080,432}</string>
      </dict>
      <key>light-bulb-on.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2163},{67,216}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,216}}</string>
        <key>sourceSize</key>
        <string>{67,216}</string>
      </dict>
      <key>light-bulb-off.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,2163},{54,117}}</string>
        <key>offset</key>
        <string>{-2,-1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,7},{54,117}}</string>
        <key>sourceSize</key>
        <string>{62,128}</string>
      </dict>
      <key>glow_cirle.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,0},{938,915}}</string>
        <key>offset</key>
        <string>{0.5,-34.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,69},{938,915}}</string>
        <key>sourceSize</key>
        <string>{1077,984}</string>
      </dict>
      <key>PARTS 1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,0},{723,169}}</string>
        <key>offset</key>
        <string>{8,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{48,31},{723,169}}</string>
        <key>sourceSize</key>
        <string>{803,257}</string>
      </dict>
      <key>bar.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,915},{781,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{781,115}}</string>
        <key>sourceSize</key>
        <string>{781,115}</string>
      </dict>
      <key>PARTS 2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2018,723},{600,157}}</string>
        <key>offset</key>
        <string>{8.5,3.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{39,19},{600,157}}</string>
        <key>sourceSize</key>
        <string>{661,202}</string>
      </dict>
      <key>bg-start.png</key>
      <dict>
        <key>frame</key>
        <string>{{1080,1323},{853,505}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,1},{853,505}}</string>
        <key>sourceSize</key>
        <string>{856,506}</string>
      </dict>
      <key>logo.png</key>
      <dict>
        <key>frame</key>
        <string>{{1585,1323},{736,660}}</string>
        <key>offset</key>
        <string>{-7,-4.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{13,36},{736,660}}</string>
        <key>sourceSize</key>
        <string>{776,723}</string>
      </dict>
      <key>cutrain_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,0},{256,686}}</string>
        <key>offset</key>
        <string>{-1,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,44},{256,686}}</string>
        <key>sourceSize</key>
        <string>{258,732}</string>
      </dict>
      <key>dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{96,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2245,2230}</string>
      <key>textureFileName</key>
      <string>texture</string>
    </dict>
  </dict>
</plist>
